# Dependency directories
node_modules/

# Environment Files (Matches .env in root or subfolders)
**/.env
**/.env.local

# Firebase Secrets (Matches the file in root or Backend folder)
**/firebaseServiceKey.json

# Vercel & Build folders
.vercel
build/
dist/

# OS specific files
.DS_Store
Thumbs.db